.controls {
    position: absolute;
    z-index: 2;
}

.controls > * {
    margin: 10px;
    padding: 5px;
    display: inline;
}

.count, label {
    color: rgb(253, 197, 65);
}

.randomCheckbox > * {
    padding: 7px;
}

.count {
    border: 1px solid rgb(253, 197, 65);
}